* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #1b1b1b;
  height: 100vh;
  background: url('4.jpg') no-repeat center center/cover;
}

.navbar {
   position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #111;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.TCL {
  height: 100vh;
  background: url('4.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 60px;
  position: relative;
}

.TCL::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.TCL-content {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.TCL h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.TCL p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 25px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.btn.primary {
  background-color: #d9a561;
  color: #000;
}

.btn.secondary {
  border: 1px solid #fff;
  color: #fff;
}